a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.big-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.welcome {
  color: #00BCD4;
  text-align: center;
  margin-top: 100px;
}
